networks:
    proper-praise:
        driver: bridge

volumes:
    db:

services:
    database:
        image: postgres:17.4-alpine
        hostname: db
        container_name: db-ppp
        networks:
            - proper-praise
        environment:
            POSTGRES_USER: ${DB_USERNAME}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: proper_praise
        volumes:
            - db:/var/data
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U postgres" ]
            interval: 5s
            timeout: 5s
            retries: 20
            start_period: 10s

    migration:
        image: flyway/flyway:10.20.1-alpine
        hostname: migrations
        container_name: migrations-ppp
        networks:
            - proper-praise
        volumes:
        - ./db/migrations/schema:/flyway/sql
        environment:
            FLYWAY_URL: jdbc:postgresql://${DB_HOST}:5432/proper_praise
            FLYWAY_USER: ${DB_USERNAME}
            FLYWAY_PASSWORD: ${DB_PASSWORD}
        entrypoint: ["/bin/sh", "-c", "flyway migrate"]
        depends_on:
            database:
                condition: service_healthy

    api-blue: &api
        image: davifaustino/$API_IMAGE_NAME:$API_BLUE_PROJECT_VERSION
        hostname: api-blue
        container_name: api-blue-ppp
        networks:
            - proper-praise
        environment:
            DB_HOST: ${DB_HOST}
            FRONTEND_URL: ${FRONTEND_URL}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
            JWT_PRIVATE_KEY: ${JWT_PRIVATE_KEY}
            JWT_PUBLIC_KEY: ${JWT_PUBLIC_KEY}
        depends_on:
            database:
                condition: service_healthy
            migration:
                condition: service_started
        healthcheck:
            test: ["CMD", "wget", "--spider", "-q", "http://localhost:8080/actuator/health"]
            interval: 5s
            timeout: 5s
            retries: 20
            start_period: 10s

    api-green:
        <<: *api
        image: davifaustino/$API_IMAGE_NAME:$API_GREEN_PROJECT_VERSION
        hostname: api-green
        container_name: api-green-ppp
        depends_on:
            database:
                condition: service_healthy
            migration:
                condition: service_started
            api-blue:
                condition: service_healthy

    front-blue: &front
        image: davifaustino/$FRONT_IMAGE_NAME:$FRONT_BLUE_PROJECT_VERSION
        hostname: front-blue
        container_name: front-blue-ppp
        networks:
            - proper-praise

    front-green:
        <<: *front
        image: davifaustino/$FRONT_IMAGE_NAME:$FRONT_GREEN_PROJECT_VERSION
        hostname: front-green
        container_name: front-green-ppp

    proxy:
        image: nginx:alpine
        container_name: proxy-ppp
        networks:
            - proper-praise
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - /etc/letsencrypt:/etc/letsencrypt:ro
        depends_on:
            api-blue:
                condition: service_healthy
            api-green:
                condition: service_healthy
            front-blue:
                condition: service_started
            front-green:
                condition: service_started
